.body {
    margin: auto;
    background-color: white;
}

.header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: fixed;
}

.header__img {
    width: 85px;
    margin-left: 30px;
}

.header__menu {
    margin-right: 30px;
    
}

.header__menu ul {
    
    list-style: none;
    display: flex;
}

.header__menu li {
    margin: 10px 10px;
}
.header__menu li a {
    color: #DAC858;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-left: 4px;
}
.header__menu li a:hover{
    background-size: 100% 2px;
}

/* empezamos a escribir el estilo del contenido de index */

.container {
    width: 70%;
    display: contents;
}

.container img {
    width: 100%;
}