.body {
    margin: 5px;
    background-color: white;
}

.header {
    background-color: #3d4d55;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.header__img {
    width: 150px;
    margin-left: 10px;
}

.header__menu {
    margin-right: 30px;
    
}

.header__menu ul {
    
    list-style: none;
    display: flex;
}

.header__menu li {
    margin: 10px 10px;
}
.header__menu li a {
    color: white;
    text-decoration: none;
    margin-left: 4px;
}
.header__menu li a:hover{
    text-decoration: underline;
}